body {
    background: url('../img/background.png') no-repeat fixed center 20%;
    background-size: cover;
}

.table-hover tr {
    cursor: pointer;
}

.btnNew {
    margin: 5px;
}

.tableError, .tableError > tbody > tr > th, .tableError > tbody > tr > td {
    font-size: medium;
    width: auto;
    border: none;
}