*~
*.log

/SAES-api/target/*
/SAES-data/target/*
/SAES-rest/target/*
/SAES-service/target/*
/SAES-spring-mvc/target/*
/SAES-persistence/target/*
/SportActivityEvidenceSystem/target/*

/.idea
*.iml

.project
.settings/*
*/.classpath
*/.project
*/.settings/*
