/SportActivityEvidenceSystem/target/
*~
*.log
SportActivityEvidenceSystem/.classpath
SportActivityEvidenceSystem/.project
SportActivityEvidenceSystem/.settings/org.eclipse.core.resources.prefs
SportActivityEvidenceSystem/.settings/org.eclipse.jdt.core.prefs
SportActivityEvidenceSystem/.settings/org.eclipse.m2e.core.prefs
/SAES-persistence/target/